.btn_empl {
	float:right;
	background-color: gray;
    color: black;
    border: 1px solid black;
    padding: 12px 24px;
    font-size: 18px;
}
button {
	background-color: gray;
    color: black;
    border: 1px solid black;
    padding: 12px 24px;
    font-size: 18px;
}
form {
	font-family: Arial, sans-serif;
    font-size: 18px;
}
.textfield {
	margin-bottom: 10px;
	width: 25%;
    border: 1px solid black;
    padding: 0px 24px;
    font-size: 18px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.table th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
}

.table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

/* Стилизация строк с четными номерами */
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}